#Environment
.idea
.vscode

# will have compiled files and executables
debug/
tmp/
book/
target/
.env
env.yaml

# General
.vagrant/

# Logs
*.log

# General
.DS_Store
.AppleDouble
.LSOverride

# Diagram
*.$*.drawio.*

## Python
__pycache__/
__pypackages__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/